<!DOCTYPE html>
<html>
    <head>
        <title>Scratch, Code, and Beyond</title>
        <link rel="stylesheet" href="./style1.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Knewave|Comfortaa|Handlee">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    
    <body id="page-top">
        <nav class="navbar" id="mainNav">
            <a class="nav-title" href="#page-top"> Scratch, Code, and Beyond</a>
            <ul class="navbar-list">
                <li class="nav-item">
                    <a href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a href="/curriculum">Toolkit</a>
                </li>
                <li class="nav-item">
                    <a href="#mission">Mission</a>
                </li>
            </ul>
        </nav>
        
        <header>
            <div class="title">
                <div class="row" style="text-align: center; margin-top: 2%">
                    <div class="feature-2">
                        <img src="img/design.JPG">
                    </div>
                    <div class="feature-2">
                        <img src="img/flappy.1.PNG">
                    </div>
                </div>
                <h1>Scratch, Code, and Beyond</h1>
                <p style="text-align: center">A program you can implement in your own community.</p>
            </div>
        </header>
        
        <section id="mission">
            <div class="container">
                <h2>Why Coding</h2>
                <hr>
                <!--How will coding help me impact my community?-->
                <div style="text-align: center">
                    <p>Being able to code will be an essential skill in the future, like reading and writing.</p>
                    <p>Many kids don't get a chance to explore it and it puts them at a disadvantage.</p>
                    <p>You can give students this opportunity to explore coding.</p>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="feature-3">
                            <i class="fa fa-magic icon" style="color: #F70049"></i>
                            <h3>Scratch</h3>
                            <p>This programs just scratches at the surface of coding but it will spark students' interest.</p>
                            <!--We just scratch at the surface of coding but it will spark kids' interest.-->
                        </div>
                        <div class="feature-3">
                            <i class="fa fa-code icon" style="color: #F70049"></i>
                            <h3>Code</h3>
                            <p>This program uses Scratch to make a game and Python Turtle to create cool designs.</p>
                        </div>
                        <div class="feature-3">
                            <i class="fa fa-group icon" style="color: #F70049"></i>
                            <h3>Beyond</h3>
                            <p>This program focus on critical thinking, creativity, teamwork, and problem solving skills to prepare students for the 21st century and beyond.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="quotes">
            <div class="container">
                <h4>What are students saying after going through this program in afterschool clubs and summer camps?</h4>
                    <div class="row">
                        <div class="feature-2">
                            <img src="img/collage2.jpg">
                        </div>
                        <div class="feature-2" style="padding-top:">
                            <br><br>
                            <img src="img/quotes.png">
                            <!--<p>"... my ability to work with others has strengthened"</p>-->
                            <!--<p>"I want to make a game, and teach it"</p>-->
                            <!--<p>"... coding suddenly made me more interested in STEM"</p>-->
                            <!--<p>"I want to change the world one app at a time"</p>-->
                            <!--<p>"... The coding we do here is really interesting and has really made it so I want to come back to this club more and more every time."</p>-->
                            <!--<p>"I want to create websites and develop games for business"</p>-->
                        </div>
                    </div>
            </div>
        </section>
        
        <footer>
            <p>&copy; Scratch, Code, and Beyond</p>
        </footer>
        
        <script>
            var mainNav = document.getElementById("mainNav");
            window.onscroll = function () { 
                // "use strict";
                if (document.documentElement.scrollTop > 50 ) {
                    mainNav.classList.add("navbar-shrink");
                } 
                else {
                    mainNav.classList.remove("navbar-shrink");
                }
            };
        </script>
    </body>
</html>


<!--https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_opacity-->